# Global gitignore
node_modules/
.DS_Store
npm-debug.log
build

# Frontend gitignore
frontend/dist/
frontend/.env

# Backend gitignore
backend/dist/
backend/.env

backend/package-lock.json
frontend/package-lock.json

backend/uploads/avatars/*